<h1>Eat-Da-Burger!</h1>

<div class="uneaten">
    <ul>
        {{#each burgers}}
        <li>{{burger_name}}</li>
        <button>Devour It! Nom!</button>
        {{/each}}
    </ul>
</div>





<form>
    <div class="form-group">
        <textarea class="form-control"></textarea>
        <button>Devour</button>
        <p>Enter the name of a buger you want to eat and click the "submit" button to add it to the menu!" </p>
  </div>
</form>
