<h1>Eat-Da-Burger!</h1>

<div class="uneaten">
    <ol>
        {{#each burgers}}
            {{#unless this.devoured}}
                <li>
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        {{this.burger_name}}
                        <button type="submit" value="0" >Devour It! Nom!</button>
                    </form>
                </li>
            {{/unless}}
        {{/each}}
    </ol>
</div>


<div class="eaten">
    {{#each burgers}}
        {{#if this.devoured}}
            <form action="/" method="POST">
                    <input placeholder="{{this.id}}. {{this.burger_name}}" />
                <button >Update Burger</button>
            </form>
        {{/if}}
    {{/each}}
</div>

<form id="addABurger" action="/" method="POST">
    <div class="form-group">
        <textarea class="userBurger" name="burger_name" placeholder="Gimme a burger!"></textarea>
        <button type="submit">Submit</button>
        <p>Enter the name of a buger you want to eat and click the "submit" button to add it to the menu!" </p>
  </div>
</form>
