<h1>Eat-Da-Burger!</h1>

<div class="uneaten">
    <h2>Burgers on Da Menu!</h2> 
    <ol>
        {{#each burgers}}
            {{#unless this.devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ol>
</div>


<div class="eaten">
    <h2>Burger Heaven!</h2> 
    {{#each burgers}}
        {{#if this.devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</div>

<h2>In the Kitchen!</h2> 
<form class="create-form">

    <div class="form-group">
        <input class="userBurger" id="bu" placeholder="Gimme a burger!"></input>
        <button type="submit" id="newburgBtn">Submit</button>
        <p>Enter the name of a burger you want to eat and click the "submit" button to add it to the menu!" </p>
    </div>
</form> 


